<html lang="EN" dir="ltr"><head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>
    </title>
    <link rel="shortcut icon" type="image/ico" href="resources/images/favicon.ico?CSMName=CSM/KAPS">
    <link rel="stylesheet" href="resources/css/app.css?CSMName=CSM/KAPS">
    <link rel="stylesheet" href="resources/css/custom.css?CSMName=CSM/KAPS">
    
</head>
<body class="VISA">

    <div data-entry-point="application-container">
        <div class="main web-based">
            <div class="header-zone">
                <div class="cancel-btn-container">
                    <div class="cancel-btn-arrow"></div>
                    <button id="cancel" class="cancel">Cancel</button>
                </div>
            </div>
            <div class="title">
                <div class="ps"><img src="resources/images/VISA.png" alt="Visa Secure"></div>
                <div class="logo"><img src="resources/images/logoBank.png?CSMName=CSM/KAPS"></div>
            </div>
            <div class="content">
                <div class="item item-caption">Cardholder Authentication</div>
                <div data-entry-point="payment-details">
                    <div class="cp-order-details">
                        <div class="cp-order-details-rollup-container">
                            <div class="item cp-amount-container">
                                <div class="item-left item-amount">Amount</div>
                                <div class="item-right item-amount"><span>AZN</span> 1.00</div>
                            </div>
                            <div class="cp-order-details-rollup"></div>
                        </div>
                        <div class="cp-details">
                            <div class="item columns">
                                <div class="item-left">Merchant</div>
                                <div class="item-right">MPAY </div>
                            </div>
                            <div class="item columns">
                                <div class="item-left">Date</div>
                                <div class="item-right">2025-02-25 00:10 </div>
                            </div>
                            <div class="item columns acct-number">
                                <div class="item-left">Card Number</div>
                                <div class="item-right">**** **** **** 2982 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-entry-point="authentication">
                    <div>
                        <div class="item columns item-phone-number">
                            <div class="item-left">Address</div>
                            <div class="item-right">994******629 </div>
                        </div>
                        <form class="cp-Callback" action="https://emv3ds/challenge" id="callback-form" data-validation-context="*" novalidate="">
                            <ul class="cp-error-descriptions" style="display: none;"> </ul>
                            <div class="cp-otp-input-container">
                                <div class="item cp-error"> </div>
                                <div class="item-description">Enter dynamic password:</div>
                                <div class="item cp-otp-container">
                                    <div class="cp-otp-field-group-container">
                                        <input name="otpFieldGroupElement" type="number" pattern="[0-9]*" inputmode="numeric" id="otpPart1" maxlength="1" tabindex="1" class="cp-wrappable  cp-input-OTP">
                                        <input name="otpFieldGroupElement" type="number" pattern="[0-9]*" inputmode="numeric" id="otpPart2" maxlength="1" tabindex="2" class="cp-wrappable  cp-input-OTP">
                                        <input name="otpFieldGroupElement" type="number" pattern="[0-9]*" inputmode="numeric" id="otpPart3" maxlength="1" tabindex="3" class="cp-wrappable  cp-input-OTP">
                                        <input name="otpFieldGroupElement" type="number" pattern="[0-9]*" inputmode="numeric" id="otpPart4" maxlength="1" tabindex="4" class="cp-wrappable  cp-input-OTP">
                                    </div>
                                    <input type="hidden" name="Callback" value="" autocomplete="one-time-code" id="Callback_sms">
                                </div>
                                <div class="extra-info-content-container">
                                    <div class="expand-info-zone cp-help-block">
                                        <div class="expand-info-label cp-help-label">Help</div>
                                        <div class="expand-info-text cp-help-text cp-hidden"></div>
                                    </div>
                                    <div class="item">
                                        <button id="resendChallenge" class="resend" form="resendOtpForm">Resend password</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item cp-submit-btn-container">
                                <button class="submit cp-not-displayed">Submit</button>
                            </div>
                            <hr class="cp-container-separator">
                            <div class="item cp-otp-message-for-bsw">Please enter a dynamic password to confirm your identity. Password has been sent to <span class="address">994******629</span></div>
                            <div class="cp-otp-message">
                                <div class="item">Dynamic password will expire in <span class="cp-otp-timer">02:14</span></div>
                                <div class="item cp-is-hidden">Dynamic password has expired</div>
                            </div>
                        </form>
                        <div class="item cp-not-displayed">
                            <form action="https://emv3ds/challenge" class="resend-otp-form" id="resendOtpForm">
                                <input type="hidden" value="Y" name="resendChallenge">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="information-zone"></div>
            </div>
        </div>
    </div>
<div>
    <div class="cp-ajax-indicator cp-is-hidden cp-not-displayed">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
        <img src="resources/images/VISA.png">
    </div>
</div>



</body></html>